@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Global styles or a specific CSS file */
.video-container {
  width: 80vw;
  height: 80vh;
  margin-left: 200px;
  overflow: hidden;
  position: relative;
}

.video-container iframe {
  position: absolute;
  top: -60px;
  left: 0;
  width: 100%;
  height: calc(100% + 120px);
  pointer-events: none; /* Prevent interaction with video */
}

.video-foreground {
  pointer-events: none; /* Prevent interaction with video */
}

.unmute-button {
  position: relative;
  z-index: 10; /* Ensure it appears above the video */
  pointer-events: auto; /* Make sure the button can be clicked */
  background-color: rgba(23, 217, 2, 0.7); /* Add a background to make it visible */
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  font-weight: bold;
  text-align: center;
}

.mute-button {
  position: relative;
  z-index: 10; /* Ensure it appears above the video */
  pointer-events: auto; /* Make sure the button can be clicked */
  background-color: rgba(255, 0, 0, 0.7); /* Red background for mute button */
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}